
<div class="content">
    <app-header></app-header>
    <div class="row valores">
        <div class="col-12">

            <div style="display: block;">
                <canvas baseChart width="800px" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [chartType]="'line'">
                </canvas>
            </div>

        </div>
    </div>
    <app-footer></app-footer>

    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>