<!--banner-->
<div class="content">

    <div class="banner">
        <h1 class="titulo">Valores Online</h1>
    </div>

    <div class="row valores">


        <div class="col-12">

            <div style="display: block;">
                <canvas baseChart width="800px" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [chartType]="'line'">
                </canvas>
            </div>

        </div>





    </div>

    <footer class="page-footer font-small cyan darken-3">

        <div class="footer-copyright text-center py-3">
            © Prueba banco Bice Desarrollado por Juan Ormeno
        </div>
    </footer>


</div>