<!--banner-->
<div class="content">

    <div class="banner">
        <h1 class="titulo">Valores Online</h1>
    </div>
    
    <div class="row valores">
    
        <div class="col-12 col-lg-4 col-xl-2 col-md-4 col-sm-12" *ngFor="let valor of valores">
    
            <mat-card class="card">
               
            
                <mat-card-content>
                    <p class="titulo-card">{{valor.key}}</p>
                    <div class="contenido-card">
                        <p>{{valor.name}}</p>
                        <p>{{valor.value}} {{valor.unit}}</p>
                    </div>
                   

                    <button mat-raised-button (click)="irDetalle(valor.key)">Detalle</button>
                </mat-card-content>
            
            </mat-card>
    
        </div>
    
    
        
    
    </div>

    <footer class="page-footer font-small cyan darken-3">

        <div class="footer-copyright text-center py-3">
            © Prueba banco Bice Desarrollado por Juan Ormeno
        </div>
      </footer> 

   
</div>



